:root{
    --rosePink: #FB76CF;
    --darkGray: #555555;
    --seasalt: #f8f8f8;
    --wisteria: #ca82e0;
    --sunset: #fac485;

}

*{
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav,ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav,li{
  height: 50px;
  font-weight: 600;
}

nav,a{
  height:100%;
  width: 100%;
  padding:0 30px;
  text-decoration: none;
  display: flex;
  align-items:center;
  color:var(--darkGray);
}


.navlink:hover{
  color: var(--rosePink);
}